services:
  web:
    build: .
    ports:
      - "9002:8000"
    env_file:
      - .env
    volumes:
      - ./db.sqlite3:/app/db.sqlite3
      - ./media:/app/media
      - ./staticfiles:/app/staticfiles
    restart: unless-stopped
